.App {
  text-align: center;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  font-size: calc(10px + 2vmin);
  color: white;
  background-color: #282c34;

}




.App-header {
  background-color: #282c34;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 5px;
  max-height: 10vh;
}

.Content{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(300px , 1fr));
}

.info{

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card{
  text-align: left;border-radius: 10px;
  padding: 1rem;


}